"cat_dog_classifier.h5" 
"cat_dog_classifier.h5" 
"cat_dog_classifier.h5" 
"cat_dog_classifier.h5" 
"your_model.h5" 
"vgg19_binary_model.h5"   # Ignore future commits
"vgg19_binary_model.h5"   # Ignore future commits
"cat_dog_classifier.h5"   # Prevent future commits
"*.h5" 
